{{template "top" .}}

<div id="admin-header">
<h2>Admin Page</h2>
<a href="/logout"><button>Logout</button></a>
</div>
<hr/>

<form action="/admin/create-post" method="POST">
    <h3>Add new post</h3>
    {{if .Content.CreateErrorMessage}}
        <div class="error-message">
            {{.Content.CreateErrorMessage}}
        </div>
    {{end}}
    {{if .Content.CreateSuccessMessage}}
        <div class="success-message">
            {{.Content.CreateSuccessMessage}}
        </div>
    {{end}}
    <label for="pin">Pin</label>
    <input name="pin" type="checkbox"></input><br>
    <label for="content">Content</label><br>
    <textarea name="content" id="content-input"></textarea><br>
    <button type="submit">Submit</button>
</form>


<hr/>

<form action="/admin/pin-post" method="POST">
    <h3>Pin post</h3>
    {{if .Content.PinErrorMessage}}
        <div class="error-message">
            {{.Content.PinErrorMessage}}
        </div>
    {{end}}
    {{if .Content.PinSuccessMessage}}
        <div class="success-message">
            {{.Content.PinSuccessMessage}}
        </div>
    {{end}}
    <label for="id">id</label>
    <input name="id"></input>
    <button type="submit">Submit</button>
</form>

<hr/>

<form action="/admin/delete-post" method="POST">
    <h3>Remove post</h3>
    {{if .Content.DeleteErrorMessage}}
        <div class="error-message">
            {{.Content.DeleteErrorMessage}}
        </div>
    {{end}}
    {{if .Content.DeleteSuccessMessage}}
        <div class="success-message">
            {{.Content.DeleteSuccessMessage}}
        </div>
    {{end}}
    <label for="id">id</label>
    <input name="id"></input>
    <button type="submit">Submit</button>
</form>

<hr/>

<form action="/admin/update-post" method="POST">
    <h3>Update post</h3>
    {{if .Content.UpdateErrorMessage}}
        <div class="error-message">
            {{.Content.UpdateErrorMessage}}
        </div>
    {{end}}
    {{if .Content.UpdateSuccessMessage}}
        <div class="success-message">
            {{.Content.UpdateSuccessMessage}}
        </div>
    {{end}}
    <label for="id">id</label>
    <input name="id"></input><br>
    <label for="pin">Pin</label>
    <input name="pin" type="checkbox"></input><br>
    <label for="content">Content</label><br>
    <textarea name="content" id="content-input"></textarea><br>
    <button type="submit">Submit</button>
</form>

{{template "bottom" .}}
